@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* this is a comment */

/* selector {
  property: value;
  property: value;
}
*/

p {
  font-size: 16px;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: 'Clicker Script', cursive;;
  color: #777;
  text-align: right;
}



.milk-text{
  font:bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px
}


